---
import { Markdown } from "astro/components"
import groq from "groq"
import sanityClient from "../../sanityClient"
import BaseLayout from "../../layouts/BaseLayout.astro"

export async function getStaticPaths({ paginate }) {
  const query = groq`*[_type == "post"] | order(_createdAt) {
    _createdAt,
    author->,
    body,
    "categories": categories[]->,
    "slug": slug.current,
    title
  }`
  const data = await sanityClient.fetch(query).then(response => response)
  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post }
    }
  })
}

const { slug } = Astro.request.params
const { post } = Astro.props

const options = { weekday: "long", year: "numeric", month: "long", day: "numeric" }
const date = new Date(post._createdAt).toLocaleDateString("en-GB", options)
---
<BaseLayout title={post.title}>
  <div>
    <h1>{post.title}</h1>
    <p>published on: {date}</p>
    <p>by:
      <a href=`/author/${post.author.slug.current}`>{post.author.name}</a>
    </p>
    <br>
    <ul>
      {post.categories.map((item, index) =>
        <li><a href=`/category/${item.slug.current}`>{item.title}</a></li>
      )}
    </ul>
    <br>
    <Markdown>{post.body}</Markdown>
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
