---
import format from "date-fns/format"
import sanityClient from "../../lib/sanityClient"
import BaseLayout from "../../layouts/BaseLayout.astro"
import PortableText from "../../components/PortableText"
import { components } from "../../components/PortableTextComponents"
import { authorsQuery } from "../../lib/queries"
import { Author } from "../../lib/interfaces"

export async function getStaticPaths( ) {
  const data: { authors: Author[] } = await sanityClient
    .fetch(authorsQuery)
    .then(response => response)
  return data.authors.map(author => {
    return {
      params: { slug: author.slug },
      props: { author }
    }
  })
}
const { slug } = Astro.request.params
const { author } = Astro.props as { author: Author }
const title = `Author: ${author.name}`
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <h2>Bio</h2>
    {author.body &&
      <PortableText value={author.body} components={components} />
    }
    <h2>Posts</h2>
    <ul>
      {author.posts.map(post =>
        <li><a href={`/blog/${post.slug}`}>{post.title}</a><br>
          {format(new Date(post.publishedAt), "eeee, do MMMM yyyy")}
        </li>
      )}
    </ul>
    <p><a href="/authors">All authors</a></p>
  </div>
</BaseLayout>

<style>

</style>
