---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Navbar from "../components/Navbar.astro"
import "../styles/global.scss"

const {
  title,
  siteName,
  keywords,
  slug,
  seoTitle,
  seoDescription,
  seoImage,
  twitter,
  twitterHandle
} = Astro.props
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title} | {siteName || "In Our Hands"}</title>
  <meta name="description" content={seoDescription}>
  <meta name="keywords" content={keywords}>

  {seoTitle !== undefined && <meta property="og:title" content={seoTitle}>}
  {seoDescription !== undefined && <meta property="og:description" content={seoDescription}>}
  {slug !== undefined && <meta property="og:url" content=`https://in-our-hands.com/${slug}`>}
  {seoImage !== undefined && <meta property="og:image" content={seoImage}>}
  {siteName !== undefined && <meta property="og:site_name" content={siteName}>}
  {seoTitle !== undefined && <meta property="og:locale" content="en_GB">}
  {seoTitle !== undefined && <meta property="og:type" content="article">}

  {seoTitle !== undefined && <meta name="twitter:card" content="summary_large_image">}
  {seoTitle !== undefined && <meta name="twitter:title" content={seoTitle}>}
  {seoDescription !== undefined && <meta name="twitter:description" content={seoDescription}>}
  {twitter !== undefined && <meta name="twitter:site" content={twitter}>}
  {seoImage !== undefined && <meta name="twitter:image" content={seoImage}>}
  {twitterHandle !== undefined && <meta name="twitter:creator" content={twitterHandle}>}

  <link
    rel="icon"
    href="data:image/svg+xml,
      <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
        <text y=%22.9em%22 font-size=%2290%22>✋</text>
      </svg>"
  >
  <link rel="stylesheet" href={Astro.resolve('../styles/global.scss')}>

</head>
<body>
  <div id="app">
    <div>
      <Header />
      <br>
      <Navbar />
      <br>
    </div>
    <main>
      <slot />
    </main>
    <br>
    <Footer />
  </div>
</body>

<!-- prettier-ignore -->
<style>

</style>
