---
import format from "date-fns/format"
import sanityClient from "../lib/sanityClient"
import { toPlainText } from "../lib/utils"
import { featuredPostsQuery } from "../lib/queries"
import { Home } from "../lib/interfaces"

const response = await sanityClient.fetch(featuredPostsQuery)
const data: { posts: Home } = await response
const { featured } = data.posts
---
<section>
  <h2 class="text-3xl font-bold mb-7">Featured Posts</h2>
  <div class="grid grid-cols-3 gap-9">
    {featured.map(post =>
      <div>
        <div class="image rounded-sm aspect-video bg-amber-300 mb-7"></div>
        <div>
          <ul>
            {post.categories.map(category =>
              <li class="inline uppercase text-sm">{category.title}</li>
            )}
          </ul>
          <h3 class="text-2xl font-bold mb-3"><a href={`/blog/${post.slug}`}>{post.title}</a></h3>
          <p class="serif mb-5 text-slate-500">
            {toPlainText(post.body).substring(0, 190) + "..."}
            <a href={`/blog/${post.slug}`}>read&nbsp;more</a>
          </p>
          <div class="flex gap-3 text-sm">
            <div class="avatar aspect-square rounded-full bg-amber-300"></div>
            <div>
              <p class="font-medium">{post.author.name}</p>
              <p>{format(new Date(post.publishedAt), "MMM do, yyyy")}</p>
            </div>
          </div>
        </div>
      </div>
    )}
  </div>
</section>

<style lang="scss">
li {
  &:not(:last-child)::after {
    content: ', ';
  }
}

.avatar {
  width: 3rem;
}

.text-slate-500 {
  color: #60757e;
}
</style>
